@model banhang.Models.Supplier

<div class="page-wrapper">
    <div class="container-fluid" style="padding-top: 100px;">
        <div class="container mt-4">
            <h3 class="mt-4">Thêm nhà cung cấp</h3>
            <form asp-action="AddSuppliers" method="post">
                <div class="mb-3">
                    <label class="form-label">Tên nhà cung cấp</label>
                    <input asp-for="SupplierName" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Số điện thoại</label>
                    <input asp-for="Phone" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Fax</label>
                    <input asp-for="FaxNumber" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Tỉnh/Thành phố</label>
                    <select asp-for="Province" class="form-control" asp-items="ViewBag.Provinces" required>
                        <option value="">-- Chọn Tỉnh/Thành phố --</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Quận/Huyện</label>
                    <select asp-for="District" class="form-control" required>
                        <option value="">-- Chọn Quận/Huyện --</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Phường/Xã</label>
                    <select asp-for="Ward" class="form-control" required>
                        <option value="">-- Chọn Phường/Xã --</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Trạng thái</label>
                    <select asp-for="Status" class="form-control">
                        <option value="true">Hoạt động</option>
                        <option value="false">Ngừng hoạt động</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Thêm</button>
            </form>
            <div asp-validation-summary="All" class="text-danger"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#Province').change(function () {
            var provinceId = $(this).val();
            $('#District').html('<option value="">-- Chọn Quận/Huyện --</option>');
            $('#Ward').html('<option value="">-- Chọn Phường/Xã --</option>');

            if (provinceId) {
                $.ajax({
                    url: '/Suppliers/GetDistricts',
                    type: 'GET',
                    data: { provinceId: provinceId },
                    success: function (data) {
                        $.each(data, function (index, item) {
                            $('#District').append('<option value="' + item.id + '">' + item.name + '</option>');
                        });
                    }
                });
            }
        });

        $('#District').change(function () {
            var districtId = $(this).val();
            $('#Ward').html('<option value="">-- Chọn Phường/Xã --</option>');

            if (districtId) {
                $.ajax({
                    url: '/Suppliers/GetWards',
                    type: 'GET',
                    data: { districtId: districtId },
                    success: function (data) {
                        $.each(data, function (index, item) {
                            $('#Ward').append('<option value="' + item.id + '">' + item.name + '</option>');
                        });
                    }
                });
            }
        });
    });
</script>


            <footer class="footer"> © 2021 Material Pro Admin by <a href="https://www.wrappixel.com/">wrappixel.com </a></footer>
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    </div>
</div>

